/* custom.scss
 * February 27, 2021
 * Bootstrap style overrides
 */

$logo0: #488fe0;
$logo1: #2a76c7;
$text0: #828f9e;
$text1: #5a6570;
$grey0: #fafbfc;
$grey1: #ebeef2;
$grey2: #c7d0d9;

$primary: $logo1;
$secondary: $grey1;

$red-60: #ef444499;
$red-100: #ef4444;

$blue-60: #2f80ed99;
$blue-100: #2f80ed;

$green-60: #4ade8099;
$green-100: #4ade80;

$yellow-60: #ffa21499;
$yellow-100: #ffa214;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  color: $text1;
  overflow: hidden;

  .btn {
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
  }

  .btn-secondary {
    color: $text1 !important;

    &:hover {
      background-color: $grey2;
      border-color: $grey2;
    }
  }

  .btn-outline-secondary {
    border-color: $grey2;
    color: $text1;
  }

  .btn-light {
    color: $text1 !important;

    &:hover {
      background-color: $grey1;
    }
  }

  .form-control {
    border: 1px solid $grey1;
    border-radius: 0.5rem;
    color: $text1;

    &:focus {
      border: 1px solid $grey2;
      color: $text1;
    }

    &:disabled {
      border: 1px solid $grey2;
    }

    &::placeholder {
      color: $grey2;
    }
  }

  .swal-modal {
    padding: 30px 0;
    border-radius: 10px;
    width: 300px;

    .swal-text {
      text-align: center;
    }

    .swal-footer {
      display: flex;
      justify-content: center;

      .swal-button {
        &--confirm {
          background-color: $logo0;

          &:hover {
            background-color: $logo1;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .container {
      max-width: 1200px;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
