/* home.scss
 * March 26, 2021
 * Home Page Styling
 */

@import "main";
@import "custom";

#home {
  min-height: 0;

  .content {
    min-height: 0;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
