/* job-card.scss
 * March 01, 2021
 * Job Card Component Styling
 */

@import "main";
@import "custom";

.jobcard {
  border: none !important;
  border-radius: 10px !important;
  font-size: 22px;
  min-width: 250px !important;
  min-height: 300px;
  transition: all 0.4s ease-out;
  word-break: break-word;

  &--body {
    padding: 30px !important;
  }

  &--company {
    font-weight: 700;
    font-size: 1em;
    color: $text0;
    margin-bottom: 12px !important;
  }

  &--title {
    font-weight: 700;
    font-size: 2em;
    line-height: 105%;
    color: $text1;
    margin: 14px 0px !important;
  }

  &--tags {
    padding: 0;

    & li {
      list-style: none;
      padding: 3px 6px;
      background-color: $grey1;
      border-radius: 3px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: "Rubik", sans-serif;
      font-size: 0.65em;
      line-height: 105%;
      color: $text0;
    }
  }

  .job-controls {
    opacity: 0.6;
    transition: opacity 0.25s ease-out;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
      0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04) !important;

    .job-controls {
      opacity: 1;
    }
  }
}

@include media-breakpoint-down(sm) {
  .jobcard {
    font-size: 24px;
  }
}
